@model BlogModel
<h2>Edit Blog</h2>
@*htmx => allow Get,Post,Put,Delete*@
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input class="form-control" id="BlogTitle" value=@Model.BlogTitle>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Author</label>
        <input class="form-control" id="BlogAuthor" value=@Model.BlogAuthor>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Content</label>
        <input class="form-control" id="BlogContent" value=@Model.BlogContent>
    </div>
    <a href="/Blog" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-success" id="btnUpdate">Update</button> @*btn default type => Submit*@
@section scripts{
    <script>        
        $('#btnUpdate').click(function () {
            const title = $('#BlogTitle').val(); //getting txtBox value after Save btn click
            const author = $('#BlogAuthor').val();
            const content = $('#BlogContent').val();

            const _reqModel = {         //Creating Obj to get input data field
                BlogTitle: title,
                BlogAuthor: author,
                BlogContent: content
            };

            $.ajax({
                type: 'POST',
                url: '/Blog/Update/@Model.BlogId',
                data: { blog: _reqModel },
                dataType: "JSON",
                success: function (result) {
                    //console.log("RESULT", result);
                    const message = result.Message;
                    if (!result.IsSuccess) {
                        alert(message);
                        return;
                    }
                    alert(message);
                    location.href = "/Blog/Index";
                },
                error: function (xhr, status, error) {
                    console.log({ xhr, Status, error })
                    alert(err.Message);
                }
            });
        });
    </script>
}